.avatar {
    width: 3rem;
    border-radius: 8px;
}

.avatarWithBorder {
    border-radius: 8px;
    border:4px solid var(--gray-7);
    outline:4px solid var(--green-2);
    box-sizing: initial;
    max-height: 50px;
}