button.custom__button{
    background-color: var(--blue-dark);
    color: var(--gray-100);
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    width: 100px;
    height: 52px;
}

button.custom__button svg {
    height: 24px;
    width: 24px;
}

button.custom__button:hover {
    background-color: var(--blue);
}

